@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(206, 194, 174, 0.24);
  padding: 4rem;
  font-size: 16px;
  max-width: 78ch;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  border-left: double 5px rgba(0, 0, 0, 0.16);
  min-height: 100vh;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
  text-align: justify;
}

p:first-of-type::first-letter {
  float: left;
  font-family: 'Passions Conflict', cursive;
  font-size: 6em;
  line-height: 0.5;
}

blockquote {
  font-family: 'Passions Conflict', cursive;
  font-size: 2rem;
  line-height: 1;
}

.compass {
  /*
  this is how to make a circle to have content flow around it using shape outside and clip path 
  aspect-ratio: 1;
  float: right;
  clip-path: circle(50%);
  margin-left: 1rem;
  shape-outside: circle(50%); */

  /* using border radius now */
  aspect-ratio: 1;
  float: right;
  margin-left: 1rem;
  border-radius: 50%;
  /* shape-outside is needed for the circle and have content flow around it */
  shape-outside: margin-box;
}

.dog {
  aspect-ratio: 126 / 161;
  float: left;
  shape-outside: url('https://raw.githubusercontent.com/michaelgearon/Tiny-CSS-Projects/960311cb3deabdaecabf838cc702837e58239ae9/chapter-07/after/img/dog.svg');
  shape-margin: 1em; /* used to create space around the image */
  margin-right: 1em;
}
