html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

body {
	--primary: #de3c4b;
	--primary-contrast: white;
	--secondary: #717777;
	--font: Helvetica, Arial, sans-serif;
	--text-color: #2d3142;
	--card-background: #ffffff;
	--technologies-background: #ffdadd;
	--page-background: linear-gradient(#4f5d75, #2d3142);
	--imageSize: 200px;

	background: var(--page-background);
	font-family: var(--font);
	color: var(--text-color);

	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: var(--card-background);
	box-shadow: 0 0 55px rgba(38, 40, 45, .75);
	width: 75vw;
	max-width: 500px;
	border-radius: 4px;
}

img.portrait {
	width: var(--imageSize);
	height: var(--imageSize);
	object-fit: cover;
	border-radius: 50%;
}
