@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

/** {
	border: 1px dotted;
}*/

body {
	display: grid;
	place-items: center;
	margin-top: 40px;
	padding: 20px;
}

main {
	display: grid;
	gap: 1rem;
	min-width: 1024px;
}

@media (min-width: 700px) {
	main {
		grid-template-columns: repeat(2, 1fr);
	}

	main>section {
		height: 350px;
	}
}

@media (min-width: 950px) {
	main {
		grid-template-columns: repeat(4, 1fr);
	}
}
